
@model IEnumerable<Employee>


<div class=" container">
    <div class="active">
            <h1> Employee List </h1>
        </div>
        <table class="table table-bordered">
            <a asp-action="Add" asp-controller="Employee"> Add Employee</a>
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Email</th>
                    <th>Role </th>
                     <th colspan="2" class="text-center"> Actions</th>
                </tr>
            <thead>
            </thead>
               <tbody>
                    @foreach(var i in Model)
                    {
                        <tr>
                            <td>@i.Id</td>
                            <td>@i.Email</td>
                            <td>@i.Role</td>
                            <td class="text-center"> <a asp-action="Edit" asp-route-id="@i.Id" >Edit</a> </td>
                    <td><a class="text-center" asp-action="Delete" asp-route-id="@i.Id">Delete</a></td>
                        </tr>
                    }  
                </tbody>
        </table>
</div>